{% load static %}

<nav>
  <h2 class="logo">Apple Shops</h2>

  <div class="menu-list">
    <a href="{% url 'index' %}">Home</a>

    <div class="menu-item">
      <a href="{% url 'iphone' %}">Iphone</a>
      <div class="submenu">
        <a href="#">iPhone X Series</a>
        <a href="#">iPhone 11 Series</a>
        <a href="#">iPhone 12 Series</a>
        <a href="#">iPhone 13 Series</a>
        <a href="#">iPhone 14 Series</a>
        <a href="#">iPhone 15 Series</a>
      </div>
    </div>

    <div class="menu-item">
      <a href="{% url 'ipad' %}">Ipad</a>
      <div class="submenu">
        <a href="#">iPad Mini</a>
        <a href="#">iPad Air</a>
        <a href="#">iPad Pro</a>
      </div>
    </div>

    <div class="menu-item">
      <a href="{% url 'macbook' %}">Macbook</a>
      <div class="submenu">
        <a href="#">MacBook Air</a>
        <a href="#">MacBook Pro 13"</a>
        <a href="#">MacBook Pro 16"</a>
      </div>
    </div>

    <div class="menu-item">
      <a href="{% url 'phukien' %}">Accessory</a>
      <div class="submenu">
        <a href="#">Ốp lưng</a>
        <a href="#">Sạc</a>
        <a href="#">Tai nghe</a>
        <a href="#">Giá đỡ</a>
      </div>
    </div>

    <a href="{% url 'new' %}">News</a>
    <a href="{% url 'contact' %}">Contact</a>
  </div>

  <div class="menu-right">
    <div class="search">
      <button class="btn btn-menu">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="user">
      <button class="btn btn-menu">
        <i class="fas fa-user"></i>
      </button>
    </div>

    <div class="cart">
      <a href="{% url 'cart' %}" class="btn btn-menu">
        <i class="fas fa-shopping-cart"></i>
      </a>
    </div>
  </div>
</nav>

